<html>
<head>
  <title>
    about
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <%- include('parts/nav') %>
      <main style="padding: 1.5rem; margin: 0 auto; height:100%; max-width: 100%">
         <div class="center"> 
  <div class="about__section"> <!-- Specificity container -->
 <a href="javascript:void(0);" title="Developer"><div class="about__slot"><div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('https://cdn.discordapp.com/avatars/921027092102152192/d21cbbfbeeb82614f57a2f30125662d5.png');"></div>
    <div class="about__info">
    <h4 class="name">Krish</h4>
    <h5 class="title">Developer</h5>
    </div>


    </div></a><a href="javascript:void(0);" title="Developer"><div class="about__slot">
      <div class="headshot"  onclick="biograph(this.parentNode);" style="background-image:url('https://cdn.discordapp.com/avatars/734057039407480883/5f95137ce69753ec2e370d852c1d1e12.png');"></div>

    <div class="about__info">
    <h4 class="name">Ethan</h4>
    <h5 class="title">Developer</h5>
    </div>

    </div></a><a href="javascript:void(0);" title="Developer"><div class="about__slot">
      <div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('https://cdn.discordapp.com/avatars/1099039772586016848/c82b3fa769ed6e6ffdea579381ed5f5c.png');"></div>

    <div class="about__info">
    <h4 class="name">Allen</h4>
    <h5 class="title">Developer</h5>
    </div>

    </div></a>
    </div>
         </div>
      </main>
</body>
</html>
