<html>
<head>
  <title>
    Home Page
  </title>
   <link rel="stylesheet" href="/css/style.css">

</head>
  <body>
    <%- include('parts/nav') %>
    <!-- Page  -->
    <main style="padding: 1.5rem; margin: 0 auto; max-width: 1300px">
      <h1>Home page</h1>
       
    </main>

      
  
  
  </body>
</html>



