<html>
<head>
  <title>
    Home Page
  </title>
   <link rel="stylesheet" href="/css/style.css">
  <%- include('parts/head') %>
</head>
  <body>
    <%- include('parts/nav') %>
    <!-- Page  -->
    <!-- <main style="padding: 1.5rem; margin: 0 auto; max-width: 1300px">
      <h1>Home page</h1>
    
       
    </main> -->

      

          <section>
            
              <h2 id="text">Event Management</h2>
              
            <!-- 
            <h4 >Event Management System</h4> -->
            <img src="/img/image11.png" id="stars">
            <!-- <img src="/img/image22.png" alt="" id="moon" />
            <img src="/img/image33.png" id="mountains_front" /> -->
            <img src="/img/image44.png"/>
          </section>

            

      
  
      <script type="text/javascript" src="/js/main.css"></script>
  </body>
</html>



