<header id="nav-menu" aria-label="navigation bar">
  <div class="container">
    <div class="nav-start">
      <a class="logo" href="/">
        <img src="https://cdn.discordapp.com/attachments/1205889289204801608/1210908990964371456/963E2032-6CEB-418A-995E-0F82BF416E2B.JPEG?ex=65ec45e1&is=65d9d0e1&hm=c4288857b20218575beb410e04e98d1db9f065a9c718325e17089017fae1d2da&" width="35" height="35" style="border-radius: 0.5rem;" alt="Inc Logo" />
      </a>
      
      <nav class="menu">
        <ul class="menu-bar">
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/admin">Admin Portal</a></li>
          <li><a class="nav-link" href="/events">Events</a></li>
          
          
          <li><a class="nav-link" href="/about">About</a></li>
        </ul>
      </nav>
    </div>

    <div class="nav-end">
      <div class="right-container">
        <% if (user) { %>
          <a href="/dashboard"><button class="btn btn-primary">Dashboard </button></a>
          <a href="/logout"><button class="btn btn-primary">Logout</button></a>
        <% } else { %>
          <a href="/login"><button class="btn btn-primary">Login </button></a>
          <a href="/register"><button class="btn btn-primary">Register </button></a>
        <% } %>
      </div>

      <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-menu" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</header>
          
<script type="text/javascript" src="/js/main.css"></script>